* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.nav {
    background-color: deepskyblue;
    box-shadow: 0 0 8px gray;
    .title {
        margin-left: 16px;
        margin-right: 16px;
        color: white;
        font-size: 24px;
        line-height: 48px;
    }
}

.main {
    .error-tip {
        color: red;
        font-size: 32px;
        line-height: 96px;
        text-align: center;
    }
    .loading-tip {
        font-size: 32px;
        line-height: 96px;
        text-align: center;
    }
    .input {
        margin: 8px;
        display: block;
        input {
            width: 100%;
            padding: 8px;
            font-size: 16px;
            border-style: solid;
            border-color: black;
            border-width: 1px;
        }
    }
    .option-line {
        margin: 8px;
        display: flex;
        flex-direction: row;
        .checkbox {
            display: flex;
            flex-direction: row;
            align-items: center;
            .name {
                margin-left: 6px;
                margin-right: 20px;
                font-size: 16px;
            }
        }
        .range {
            display: flex;
            flex-direction: row;
            align-items: center;
            .name {
                margin-right: 8px;
                font-size: 16px;
            }
            input {
                margin-right: 20px;
            }
        }
    }
    .search-result {
        .item {
            margin: 8px;
            border-style: solid;
            border-color: black;
            border-width: 1px;
            .title {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                background-color: aliceblue;
                border-bottom-style: solid;
                border-bottom-color: black;
                border-bottom-width: 1px;
                .code-point {
                    padding-left: 8px;
                    padding-right: 8px;
                    color: white;
                    background-color: black;
                    font-size: 12px;
                    font-weight: bold;
                    line-height: 28px;
                }
                .char {
                    margin-left: 8px;
                    margin-right: 4px;
                    font-size: 18px;
                    font-weight: bold;
                }
                .tag {
                    margin: 4px;
                    padding-left: 8px;
                    padding-right: 8px;
                    font-size: 11px;
                    line-height: 18px;
                    background-color: white;
                    border-style: solid;
                    border-color: black;
                    border-width: 1px;
                    border-radius: 10px;
                }
            }
            .glyphs {
                .line {
                    margin: 8px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 8px;
                    .glyph {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        border-style: solid;
                        border-color: black;
                        border-width: 1px;
                        .info {
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            border-bottom-style: solid;
                            border-bottom-color: black;
                            border-bottom-width: 1px;
                            .language-flavor {
                                padding-left: 4px;
                                padding-right: 4px;
                                color: white;
                                background-color: gray;
                                font-size: 12px;
                                font-weight: bold;
                                line-height: 20px;
                            }
                            .glyph-name {
                                margin-left: 4px;
                                margin-right: 4px;
                                font-size: 11px;
                                font-weight: bold;
                            }
                        }
                        .sans-info {
                            background-color: beige;
                        }
                        .serif-info {
                            background-color: linen;
                        }
                        .char {
                            text-align: center;
                        }
                    }
                }
            }
            .help-tip {
                padding: 32px;
                font-size: 16px;
                .example-text {
                    color: blue;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
}

.footer {
    padding-top: 6px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .line {
        margin: 2px;
        .separate {
            padding-left: 8px;
            padding-right: 8px;
        }
    }
}
