* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: SourceHanSans-CN, sans-serif;
}

.nav {
  background-color: deepskyblue;
  box-shadow: 0 0 8px gray;
}
.nav .title {
  margin-left: 16px;
  margin-right: 16px;
  color: white;
  font-size: 24px;
  line-height: 48px;
}

.main .error-tip {
  color: red;
  font-size: 32px;
  line-height: 96px;
  text-align: center;
}
.main .loading-tip {
  font-size: 32px;
  line-height: 96px;
  text-align: center;
}
.main .input {
  margin: 8px;
  display: block;
}
.main .input input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
.main .option-line {
  margin: 8px;
  display: flex;
  flex-direction: row;
}
.main .option-line .checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main .option-line .checkbox .name {
  margin-left: 6px;
  margin-right: 20px;
  font-size: 16px;
}
.main .option-line .range {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main .option-line .range .name {
  margin-right: 8px;
  font-size: 16px;
}
.main .option-line .range input {
  margin-right: 20px;
}
.main .search-result .item {
  margin: 8px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
.main .search-result .item .title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-color: aliceblue;
}
.main .search-result .item .title .code-point {
  padding-left: 8px;
  padding-right: 8px;
  color: white;
  background-color: black;
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
}
.main .search-result .item .title .char {
  margin-left: 8px;
  margin-right: 4px;
  font-size: 20px;
  font-weight: bold;
}
.main .search-result .item .title .tag {
  margin: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 14px;
  line-height: 20px;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 11px;
}
.main .search-result .item .glyphs .line {
  margin: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}
.main .search-result .item .glyphs .line .glyph {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
.main .search-result .item .glyphs .line .glyph .info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main .search-result .item .glyphs .line .glyph .info .language-flavor {
  padding-left: 8px;
  padding-right: 8px;
  color: white;
  background-color: gray;
  font-size: 14px;
  font-weight: bold;
  line-height: 28px;
}
.main .search-result .item .glyphs .line .glyph .info .glyph-name {
  margin-left: 8px;
  margin-right: 8px;
  font-size: 14px;
  font-weight: bold;
}
.main .search-result .item .glyphs .line .glyph .sans-info {
  background-color: beige;
}
.main .search-result .item .glyphs .line .glyph .serif-info {
  background-color: linen;
}
.main .search-result .item .glyphs .line .glyph .char {
  text-align: center;
}
.main .search-result .item .help-tip {
  padding: 32px;
  font-size: 16px;
}
.main .search-result .item .help-tip .example-text {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.footer {
  padding-top: 6px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .line {
  margin: 2px;
}
.footer .line .separate {
  padding-left: 8px;
  padding-right: 8px;
}

/*# sourceMappingURL=style.css.map */
